#2024/05/29
#Loon Surge直接引用，Quantumult X需打开解析器

DOMAIN-KEYWORD,github
DOMAIN-KEYWORD,prpr
DOMAIN-KEYWORD,nanoport
DOMAIN-KEYWORD,greasyfork

#emby
DOMAIN-KEYWORD,embymv
DOMAIN,stream.ntrrr.top
DOMAIN,neo.iflya321.com
DOMAIN-SUFFIX,789.123456.al

#other
DOMAIN-KEYWORD,18comic
